*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 40px;
}
#menu{
    color: white;
    height: 168px;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    align-items: center;
    font-size: 38px;
}
.bt{
    text-decoration: none;
    color: white;
}

.bt:hover{
    color: #bf0603;
}
h1 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    text-align: center;
}
.lista-shows{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.lista-shows li{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid #333;
    padding: 25px 0;
}
.lista-shows h2{
    color: #c00;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0;
}

.lista-shows p{
    color: #fff;
    font-size: 1.1em;
    margin: 0;
    text-align: right;
}
.lista-shows li{
    grid-template-columns: 1fr;
    text-align: center;
}
.lista-shows p{
    text-align: center;
    margin-top: 10px;
}
#parte3{
    background-color:black;
    width: 100%;
    height: 289px;
}
#imagens-final{
    display: flex;
    justify-content: space-around;
    
} 

/* --- MEDIA QUERIES (AJUSTES RESPONSIVOS) --- */

@media (max-width: 1024px) {
    #menu {
        font-size: 24px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    #menu {
        font-size: 18px;
        padding: 5px 0;
        gap: 5px;
    }

    #imagens-final {
        flex-direction: column;
        align-items: center;
    }
    #parte3 {
        height: auto;
    }
}

@media (max-width: 425px) {
    body {
        margin: 10px;
    }
     #menu {
        font-size: 18px;
        padding: 5px 0;
        gap: 5px;
    }

    .bt {
        white-space: nowrap;
    }
    h1 {
        font-size: 1.2em;
    }
    .lista-shows h2 {
        font-size: 1em;
    }
}