*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu{
    color: white;
    height: 168px;
    width: 100%;
    list-style:none;
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-size: 38px;
}
.bt{
    text-decoration: none ;
    color: white;
}
.bt:hover{
    color: #bf0603;
}
#discos{
    background-color: #000000;
    width: 100%;
    height: 100%;
}
h2{
    color: #bf0603;
    font-size: 80px;
    align-items: center;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 40px;
}
body{
    background-color: #000000;
}
#dois{
    width: 150px;
    height: 150px; 
    margin-left: 50px;
    filter: grayscale(100%);
    transition: 0.5s;
}
#dois:hover{
    filter: grayscale(0%);
    background-image: url(imagens/legiaourbanadois.jpg);
}
#guns{
    width: 150px;
    height: 150px; 
    margin-left: 50px;
    filter: grayscale(100%);
    transition: 0.5s;
}
#guns:hover{
    filter: grayscale(0%);
}
#djavu{
    width: 150px;
    height: 150px; 
    margin-left: 50px;
    filter: grayscale(100%);
    transition: 0.5s;
}
#djavu:hover{
    filter: grayscale(0%);
}
#calcinhapreta{
    width: 150px;
    height: 150px; 
    margin-left: 50px;
    filter: grayscale(100%);
    transition: 0.5s;
}
#calcinhapreta:hover{
    filter: grayscale(0%);
}
.dois{
    width: 150px;
    height: 150px; 
    margin-left: 50px;
    filter: grayscale(100%);
    transition: 0.5s;
}
.dois:hover{
    filter: grayscale(0%);
}
#hr{
   margin-top: 60px;
   margin-left: 40px;
   margin-right: 40px;
}
#parte3{
    background-color:black;
    width: 100%;
    height: 289px;
}
#imagens-final{
    display: flex;
    justify-content: space-around;
    
}
